.s3dm_workgroups_slider_item_contact{
    width: 350px;
    height: 350px;
    display: flex;
    align-items: center;
    position: relative;
    text-align:center;
}

.s3dm_workgroups_slider_item_contact b{
    font-weight: normal;
    font-family: "SignikaNegative-SemiBold", sans-serif;
}

.s3dm_workgroups_slider_item_contact_title{
    text-align:center;
    padding: 0;
    font-family: 'Questa Slab W05 Bold', serif;
    font-size: 30px;
}

.s3dm_workgroups_title{
    color: #00b2b2;
    font-family: 'Questa Slab W05 Bold', serif;
    font-size: 30px;
    margin-bottom: 15px;
}

.s3dm_workgroups_slider_item_contact .contactContainer{
    width: 80%;
    flex: inherit;
}

.s3dm_workgroups_slider_item_contact > div::before{
    content: '';
    position: absolute;
    left: 5px;
    top: 5px;
    width: 350px;
    height: 350px;
    background: rgba(0,178,178,0.15);
    border-radius: 50%;
    z-index: -1;
    transition: all 0.3s ease-in-out;
}

.s3dm_workgroups_slider_item_contact > div::after{

    content: "";
    position: absolute;

    width: 350px;
    height: 350px;
    border: 3px solid #00b2b2;
    border-radius: 50%;
    z-index: 1;
    left: -15px;
    top: -15px;
    transition: all 0.3s ease-in-out;

}

.s3dm_workgroups_slider_item_contact:hover > div::before{
    top: 2px;
    left: 2px;
    transition: all 0.3s ease-in-out;
}

.s3dm_workgroups_slider_item_contact:hover > div::after{
    left: -7px;
    top: -7px;
    transition: all 0.3s ease-in-out;
}

/* SPLIDER OPTIONS */
.s3dm_workgroups_container .splide__arrow--next{
    right: -4em !important;
}

.s3dm_workgroups_container .splide__arrow--prev{
    left: -4em !important;
}

.s3dm_workgroups_container .splide__arrow svg{
    fill:#878787;
    width:50%;
    height:auto;
}