.s3dm_cluster_container .s3dm_cluster_item {
  width: 130px;
  height: 130px;
  display: flex;
  /*margin-top: -65px;
  margin-left: -65px;*/
  align-items: center;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
  background-color: #d3d3d3;
  transition: background 0.3s ease-in-out;
  will-change: transform
}


.s3dm_cluster_container .s3dm_cluster_item > div {
  width: 80%;
  margin: 0 auto;
}

.s3dm_cluster_container .s3dm_cluster_item:hover {
  background-color: #00b2b2 !important;
  transition: background 0.3s ease-in-out;
  will-change: transform
}

.s3dm_cluster_item_image img {
  max-width: 60%;
  margin: -10px auto;
}

.s3dm_cluster_item_title {
  width: 70%;
  margin: 0 auto;
}

.s3dm_cluster_item_title p {
  font-size: 14px;
  color: #fff;
  text-align: center;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-break: break-all;
}


/* GRID CSS */
.s3dm_cluster_container_grid .s3dm_cluster_item > div{
  background-color: #00b2b2 !important;
}
.s3dm_cluster_container_grid .s3dm_cluster_item_content{
  padding: 30px;
}

.s3dm_cluster_container_grid .s3dm_cluster_item{
  transform: scale(1) !important;
}
