.s3dm_product_info_image_container .bubble{
    border-radius: 50%;
    width: 140px;
    height: 140px;
    background-color: #a0e1ea;
    text-align: center;
    position: absolute;
    top: -40px;
    right: 140px; 
  }
  .s3dm_product_info_image_container .bubble p{
    font-family: SignikaNegative-SemiBold,sans-serif;
    line-height: 20px !important;
  }

  .s3dm_product_info_price_container .price {
    color: #00b2b2;
    font-family: 'SignikaNegative-SemiBold', sans-serif;
    font-size: 40px;
  }
  
  .s3dm_product_info_price_container .member_price{
    color: #00b2b2;
  }

  .s3dm_product_info_button{
    padding: 15px 40px !important;
    font-family: 'SignikaNegative-SemiBold', sans-serif;
    font-size: 24px;
  }

  .s3dm_product_info_detail ul{
    list-style-type: none;
    padding-left: 0;
  }