  .s3dm_product_list_product_container > div{
    box-shadow: none;
  }
  .s3dm_product_list_product_container .uk-card-body{
    background-color:#E6E6E6;
  }
  
  .s3dm_product_list_grid_product_image{
    border-top: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    padding: 30px 30px 20px 30px;
  }
  
  .s3dm_product_list_grid_product_image .bubble{
    border-radius: 50%; 
    width: 140px; 
    height: 140px; 
    background-color: #A0E1EA; 
    text-align: center; 
    position: absolute; 
    top: -40px; 
    right: -30px;
    padding: 15px 20px 20px 20px;
  }
  
  .s3dm_product_list_grid_product_image .bubble p{
    font-family: 'SignikaNegative-SemiBold', sans-serif;
    font-size: 18px;
    line-height: 20px !important;
  }
  
  .s3dm_product_list_product_container h3{
    padding-bottom: 0;
    font-family: 'SignikaNegative-SemiBold', sans-serif;
  
  }
  
  .s3dm_product_list_product_container h4{
    padding-top: 0;
    font-family: 'SignikaNegative-Regular', sans-serif;
    font-size: 22px;
    line-height: 25px;
    margin-bottom: 10px;
    margin-top: 5px;
  }
  
  .s3dm_product_list_product_container p{
    color: #000;
    font-size: 18px;
  }
  
  .s3dm_product_list_product_price_container .price{
    font-size: 40px;
    color: #00b2b2;
    font-family: 'SignikaNegative-SemiBold', sans-serif;
    margin-right: 10px;
  }
  
  .s3dm_product_list_product_memberprice_container p{
    color: #00b2b2 !important;
  }
  