  .uk-slider-items li{
    list-style-type: none;
  }
  .s3dm_product_list_product_container > div{
    box-shadow: none;
  }

 

  .s3dm_product_list_product_container .uk-card-body{
    background-color:#E6E6E6;
  }
  
  .s3dm_product_list_grid_product_image{
    border-top: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    padding: 30px 30px 20px 30px;
  }
  
  
  
  .s3dm_product_list_grid_product_image .bubble p{
    font-family: 'SignikaNegative-SemiBold', sans-serif;
    line-height: 20px !important;
  }
  
  .s3dm_product_list_product_container h2{
    
    word-wrap: break-word;
    hyphens: auto;
  }
  
  .s3dm_product_list_product_container h3{
    
    margin-bottom: 10px;
    margin-top: 5px;
    word-wrap: break-word;
    hyphens: auto;
  }
  
  .s3dm_product_list_product_price_container .price{
    color: #00b2b2;
    font-family: 'SignikaNegative-SemiBold', sans-serif;
    margin-right: 10px;
  }
  
  .s3dm_product_list_product_memberprice_container p{
    color: #00b2b2 !important;
  }

  .s3dm_products_grid_item{
    padding-right: 1px;
  }

  .s3dm_product_list_grid_product_image .bubble{
    border-radius: 50%; 
    width: 140px; 
    height: 140px; 
    background-color: #A0E1EA; 
    text-align: center; 
    position: absolute; 
    top: 10px; 
    right: 10px;
    padding: 15px 20px 20px 20px;
  }

  @media screen and(min-width: 960px){
    .s3dm_products_slider_container {
      padding: 0;
    }

    .s3dm_products_slider_container .uk-slider-container{
      overflow: hidden;
    }

    

  }

  @media screen and(min-width: 1200px){
    
    .s3dm_products_grid_item{
      padding-right: 0;
    }

    .s3dm_products_slider_container .uk-slider-container{
      overflow: visible;
    }

    .s3dm_product_list_grid_product_image .bubble{
      top: -40px; 
      right: -30px;
    }
  }
  