.s3dm_extended_post_slider_dotnav {
  list-style-type: none !important;
}

.s3dm_extended_post_slider_category {
  padding: 10px;
  background: #00b2b2;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
}

.s3dm_extended_post_slider_button .uk-button.uk-button-primary {
  padding: 10px !important;
  background: #00b2b2;
  color: #fff !important;
  text-transform: uppercase;
  display: inline-block;
  line-height: 26px;
}
