
.s3dm_extended_post_slider_dotnav {
    list-style-type: none !important;
  }
  
  .s3dm_extended_post_slider_category {
    padding: 10px;
    background: #00b2b2;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
  }
  
  .s3dm_extended_post_slider_content{
    display: flex;
    align-items: center;
    min-height: 600px;
  }
  
  .s3dm_extended_post_slider_content .et_pb_row{
    padding: 180px 0 !important;
  }
  
  .s3dm_extended_post_slider_item{
    background-size: cover;
    background-position: center center;
  }
  
  .s3dm_extended_post_slider_button .uk-button.uk-button-primary {
    padding: 10px !important;
    background: #00b2b2;
    color: #fff !important;
    text-transform: uppercase;
    display: inline-block;
    line-height: 26px;
  }
  
  .s3dm_slider_dark_bg_overlay{
    opacity: 0.5; 
    background: #000; 
    z-index: 1;
  }
  
  .splide__pagination{
    display: none;
  }
  
  .splide__arrow{
    background: none;
    opacity: 1;
    color:#fff;
    width: 3em;
    height: 3em;  
  }
  
  .splide__arrow svg {
    fill: #fff;
    width: 100%;
    height: auto;
  }
  
  @media screen and (max-width: 640px){
  
    .s3dm_extended_post_slider_item{
      background-image: none !important;
      background-color: #fff;
    }
  
    .s3dm_extended_post_slider_item img{
      width: 100% !important;
      max-width: 100%;
    }
  
    .s3dm_extended_post_slider_item h1{
      font-size: 35px !important;
      line-height: 35px;    
    }
  
  
  }
  