.s3dm_tab_content_post_categories {
  margin-bottom: 15px;
}

.s3dm_tab_slider_category {
  padding: 10px;
  background: #00b2b2;
  color: #fff;
  text-transform: uppercase;
  display: block;
}

.s3dm_tab_nav_category_list {
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
  will-change: opacity;
}

.tab-content:hover .s3dm_tab_nav_category_list{
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  will-change: opacity;
}

.s3dm_tab_navigation .uk-active .s3dm_tab_nav_category_list {
  opacity: 1;
}

.s3dm_tab_navigation .tab-content {
  cursor: pointer;
}

.s3dm_tab_navigation .tab-content > div {
  border-top: 1px solid #000;
}

.s3dm_tab_content_post_link a {
  background: #00b2b2;
  color: #fff !important;
  text-decoration: none;
  padding: 10px;
  text-transform: uppercase;
}

.s3dm_grid_image{
  opacity: 0;
  transform: translateX(100px);
}

.s3dm_grid_content{
  transform: translateX(-100px);
  opacity: 0;
}

.s3dm_tab_content_post_image{
  min-height: 400px;
  max-height: 450px;
}

.s3dm_tab_content_post_image > img{
  max-height: 450px;
  opacity:0;
}