.s3dm_grid_container{
  margin-top: 0 !important;
}

.s3dm_tab_content_post_categories {
  margin-bottom: 15px;
}

.s3dm_tab_slider_category {
  padding: 10px;
  background: #00b2b2;
  color: #fff;
  text-transform: uppercase;
  display: block;
}

.s3dm_tab_navigation .tab-content {
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
  will-change: opacity;
}

.s3dm_tab_navigation .tab-content:hover{
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  will-change: opacity;
}

.s3dm_tab_navigation .tab-content::before {
  width: 100%;
  height: 1px;
  content: '';
  background-color: lightgrey;
  transition: background-color 0.3s ease-in-out;
  display: block;
}

.s3dm_tab_navigation .tab-content:hover::before {
  background-color: #000;
  transition: background-color 0.3s ease-in-out;
}

.s3dm_tab_navigation .tab-content.uk-active {
  opacity: 1;
}

.s3dm_tab_navigation .tab-content.uk-active::before {
  background-color: #000;
  transition: background-color 0.3s ease-in-out;
}

.s3dm_tab_navigation .tab-content {
  cursor: pointer;
}



.s3dm_tab_content_post_link a {
  background: #00b2b2;
  color: #fff !important;
  text-decoration: none;
  padding: 10px;
  text-transform: uppercase;
}

.s3dm_grid_image{
  opacity: 0;
  transform: translateX(100px);
}

.s3dm_grid_content{
  transform: translateX(-100px);
  opacity: 0;
}

.s3dm_tab_content_post_image{
  min-height: 400px;
  max-height: 400px;
  background-position: 0% 0% !important;
}

.s3dm_tab_content_post_image > img{
  opacity:0;
  width: 100%;
} 