/***
Bubble List Layout
***/

.s3dm_link_list_item_bubble{
    position: absolute;
    border-radius: 50%;
    background: lightgray;
    display: flex;
    align-items:center;
    align-content: center;
    justify-content:center;
    min-width: 100px;
    min-height: 100px;
    transition: all 0.3s ease-in-out;
    transform-origin: 50% 50%;
}

.s3dm_link_list_item_bubble:hover{

    background-color: #00b2b2 !important;
    z-index: 99;

}

.s3dm_link_list_item_bubble > div{

    width: 100%;

}

.s3dm_link_list_layout_bubbles .s3dm_link_list_item_content p{
    font-size: 12px;
    margin: 0;
    padding: 0;
    line-height: 1em;
    color: #fff;
    word-break: initial;
    hyphens: auto;
}

.s3dm_link_list_layout_bubbles .s3dm_link_list_item_image{
    max-width: 60%;
    margin: -10px auto;
}

.s3dm_link_list_layout_bubbles .s3dm_link_list_item_content{
    text-align: center;
    hyphens: auto;
    word-break: break-all;
    width: 70%;
    margin: 0 auto;
}

connection {
    border: 8px solid #b51c29;
}



/* Mobile View Classes */


.s3dm_link_list_mobile_list_view .s3dm_link_list_item_bubble{

    background: transparent;
    border-radius: 0;
    overflow: hidden;
    position: relative;

}

.s3dm_link_list_mobile_list_view .s3dm_link_list_item_bubble > div{
    position: relative;
    border-radius: 0;
}

.s3dm_link_list_mobile_list_view .s3dm_link_list_item_bubble > div{
    padding: 30px;    
}

.s3dm_link_list_mobile_list_view + #paths{
    display:none;
}

.path {
    fill: none;
    stroke: dodgerblue;
    stroke-width: 6;
}